@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* Header CSS */

nav{
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 34px;
}
nav a{
    font-size: 18px;
    padding: 16px 24px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.banner{
    background: url("./assets/Hero-bg.png") center;
    background-size: cover;
    margin-bottom: 70px;
}
.banner-content{
    max-width: 900px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}
.banner-content img{
    width: 240px;
}
.banner-content h1{
    font-size: 48px;
    color: #0D1321;
}
.banner-content p{
    color: #0D1321;
}
.banner-content a{
    text-decoration: none;
    color: white;
    padding: 16px 24px;
    background-color: #0D1321;
    border-radius: 8px;
}



/* Why Web Section */
.why-web{
    padding: 70px 240px;
    max-width: 1140px;
    margin: auto;

}
.section-title{
    font-size: 32px;
    color: #0D1321;
    text-align: center;
}
.section-description{
    color: #0D1321;
    text-align: center;
    margin: 20px auto;
    max-width: 900px;
    
}

.reason{
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.reason-content h3{
    font-size: 24px;
    color: #0d1321bb;
}
.reason-content p{
    margin: 20px 0;
}
.reason-content a{
    text-decoration: none;
    color: #0D1321;
    padding: 10px 24px;
    border: 1px solid #0D1321;
    display: inline-block;
}
.reason-reverse{
    flex-direction: row-reverse;
}


/* My Inspiration CSS */
.inspiration{
    max-width: 1140px;
    margin: 0 auto 140px;
}
.inspiration hr{
    width: 30px;
    margin: auto;
    border-color: #ff7300;
}
.inspiration-video{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.inspiration-video iframe{
    border: 30px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgb(209, 209, 209);
}


/* Current Target */
.current-target{
    max-width: 1140px;
    margin: 0 auto 140px;
}
.targets{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}
.target{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 8px;
}
.target h3{
    font-size: 24px;
}
.target img{
    width: 70px;
}
.target a{
    color: #0D1321;
}

.target1{
    background-color: #ff4b1e25;
}
.target2{
    background-color: #004de825;
}
.target3{
    background-color: #FFDF0025;
}